---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Logo from "../../components/Logo.astro";
import Layout from "../../layouts/Layout.astro";
import LangSwitcher from "../../components/LangSwitcher.astro";
import FooterInfo from "../../components/FooterInfo.astro";
import { Form } from "../../components/Form.tsx";
import HeaderTxt from "../../components/HeaderTxt.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="MSN formularz kontaktowy">
  <div class="xl:grid xl:grid-cols-12">
    <aside class="xl:col-span-5">
      <header class="mb-4">
        <div class="w-1/3 xl:w-1/4">
          <Logo />
        </div>
        <div class="pt-4 xl:hidden">
          <LangSwitcher />
        </div>
      </header>
      <section class="text-lg leading-7 pt-4">
        <header class="pt-2 pb-6 xl:hidden">
          <HeaderTxt />
        </header>

        <p class="text-black pb-4">Greetings!</p>

        <p class="text-black pb-4">
          2024 will no doubt be the most important year in our existence. The Museum of Modern Art in Warsaw is moving to its new home on Plac Defilad. It’s a new beginning. We have the grand opening and a programme of special events ahead of us. We would like to ensure that selected events provide an opportunity for us to meet with you. <strong
            >Kindly provide us your email address — and we will send invitations and keep you informed of our plans.</strong
          >.
        </p>
        <p class="text-black pb-4">

          See you this autumn at the opening of the new MSN Warsaw building!
        </p>

        <p class="text-black pb-4">
          The MSN Warsaw Team
        </p>

        <div class="hidden xl:block xl:pt-8">
          <FooterInfo />
        </div>
      </section>
    </aside>
    <main class="pt-6 xl:col-span-6 xl:col-start-7 xl:pt-0">
      <hr class="border-black xl:hidden" />
      
      <div class="pb-4 hidden xl:flex xl:justify-end">
        <LangSwitcher />
      </div>

      <header class="hidden pt-8 xl:block">
        <HeaderTxt />
      </header>

      <div class="py-4">
        <Form client:load lang={lang} />
      </div>
      <div class="xl:hidden pt-6">
        <FooterInfo />
      </div>
    </main>
  </div>
</Layout>
