<footer class="border-t border-t-black text-sm leading-5 pt-4">
  <p>
    Administratorem danych osobowych jest Muzeum Sztuki Nowoczesnej w Warszawie
    (ul. Pańska 3, 00-124, Warszawa). Więcej informacji na temat przetwarzania i
    ochorny danych osobowych znajdziesz w naszej <a
        class="underline"
      href="https://artmuseum.pl/pl/polityka-prywatnosci"
      target="_blank">Polityce Prywatności</a
    >.
  </p>
</footer>
