---
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Logo from "../../components/Logo.astro";
import Layout from "../../layouts/Layout.astro";
import LangSwitcher from "../../components/LangSwitcher.astro";
import FooterInfo from "../../components/FooterInfo.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="MSN formularz kontaktowy">
  <div>
    <aside>
      <header class="mb-4">
        <div class="w-1/3">
          <Logo />
        </div>
        <div class="pt-4">
          <LangSwitcher />
        </div>
      </header>
      <section class="text-lg leading-7 pt-4">
        <p class="text-black pb-4">Cześć,</p>

        <p class="text-black pb-4">
          2024 to będzie prawdopodobnie najważniejszy rok naszego istnienia.
          Muzeum Sztuki Nowoczesnej w Warszawie przenosi się do siedziby na
          placu Defilad. To nowy początek. Przed nami wielkie otwarcie i program
          wyjątkowych wydarzeń. Chcemy, by wybrane z nich stały się okazją do
          spotkania z Tobą. Zostaw nam swój adres mailowy — <strong
            >prześlemy Ci zaproszenia i poinformujemy o naszych planach</strong
          >.
        </p>
        <p class="text-black pb-4">
          Do zobaczenia jesienią podczas otwarcia Muzeum Sztuki Nowoczesnej w
          Warszawie!
        </p>

        <p class="text-black pb-4">
          Zespół<br />Muzeum
        </p>

        <div class="hidden xl:block">
          <FooterInfo />
        </div>
      </section>
    </aside>
    <main>
      <div class="xl:hidden">
        <FooterInfo />
      </div>
    </main>
  </div>
</Layout>
