---
import { getLangFromUrl } from "../i18n/utils";
import "../styles/base.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="font-theinhardt bg-black p-0 xl:py-12 xl:min-h-screen xl:flex xl:items-center"
  >
    <div class="container bg-white px-6 py-6 xl:p-12 relative">
      <slot />
      <div
        id="loader"
        class="hidden fixed xl:absolute w-screen h-screen xl:w-full xl:h-full top-0 left-0 bg-white items-center justify-center opacity-85"
      >
        <svg
          version="1.1"
          id="L9"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 100 100"
          enable-background="new 0 0 0 0"
          xml:space="preserve"
          class="w-40 h-40"
        >
          <path
            fill="#000"
            d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"
          >
            <animateTransform
              attributeName="transform"
              attributeType="XML"
              type="rotate"
              dur="1s"
              from="0 50 50"
              to="360 50 50"
              repeatCount="indefinite"></animateTransform>
          </path>
        </svg>
      </div>
    </div>
  </body>
</html>

<style is:global></style>
